<html>
    <head>
        <title>Weather</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=0.85">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Weather</h1>
            </div>
            <div id="content">
				<table>
					<tr>
					<td>
					<form action="{{prev_page_link}}">
						<input type="submit" value="Previous">
					</form>
					</td>
					<td>
					<form action="{{next_page_link}}">
						<input type="submit" value="Next">
					</form>
					</td>
					</tr>
				</table>
				<img src="{{plot_link}}" alt="Plot">
            </div>
        </div>
    </body>
</html>
 
